.dif-services {
  width: 1140px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 82px;
}

.dif-services__title {
  margin: 0;
  margin-bottom: 10px;
  color: #444444;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 22px;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
}

.dif-services__text {
  margin: 0;
  margin-bottom: 120px;
  text-align: center;
  letter-spacing: 0.5px;
}

.dif-services__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.dif-services__item {
  width: 361px;
  margin-bottom: 45px;
  box-sizing: border-box;
}

.dif-services__container {
  height: 236px;
  background-repeat: no-repeat;

  &--planning {
    background-image: url("../../img/planning.jpg");
  }
  
  &--stocks {
    background-image: url("../../img/stocks.jpg");
  }
  
  &--cash {
    background-image: url("../../img/cash.jpg");
  }
  
  &--invest {
    background-image: url("../../img/invest.jpg");
  }
  
  &--trust {
    background-image: url("../../img/trust.jpg");
  }
  
  &--insurance {
    background-image: url("../../img/insurance.jpg");
  }
}

.dif-services__item-wrapper {
  width: 311px;
  margin-top: -90px;
  margin-left: 24px;
  padding-top: 24px;
  padding-left: 22px;
  padding-right: 10px;
  box-sizing: border-box;
  background-image: url("../../img/base.jpg");
}

.dif-services__item-title {
  margin: 0;
}

.dif-services__item-title a {
  color: #444444;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  
  &:hover {
    color: #009688;
  }
  
  &:active {
    opacity: 0.5;
  }
}

.dif-services__item-note {
  margin-bottom: 14px;
  display: block;
  color: #444444;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 27px;
  font-weight: 700;
}

.dif-services__item-text {
  margin: 0;
}