.footer-main {
  background-color: #313131;
}

.footer-main__container {
  width: 1140px;
  margin: 0 auto;
  padding-top: 82px;
  padding-bottom: 73px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #313131;
}