.footer-main {
  background-color: #313131;
}

.footer-main__container {
  width: 1920px;
  margin: 0 auto;
  padding-top: 83px;
  padding-left: 390px;
  padding-right: 390px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #313131;
}