.mail__title {
  margin: 0;
  margin-bottom: 28px;
  color: #ffffff;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.mail__text {
  margin: 0;
  margin-bottom: 15px;
  color: #969595;
  font-size: 13px;
  line-height: 22px;
}

.mail__form {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.mail__input {
  width: 216px;
  height: 33px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
  font-size: 12px;
  font-family: inherit;
}

.mail__button {
  position: relative;
  width: 38px;
  height: 33px;
  font-size: 0;
  border: none;
  background-color: #2e2e2e;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 33px;
    background-image: url("../../img/signup.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }

  &:hover {
    background-color:#009688;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
    outline: none;
  }
}

.mail__note {
  font-size: 12px;
  line-height: 22px;
}