.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
}

.main-nav__item:not(:last-child) {
  margin-right: 61px;
}

.main-nav__item a {
  color: #ffffff;
  text-decoration: none;
  
  &:hover {
    opacity: 0.5;
  }
  
  &:active {
    opacity: 0.2;
  }
}