.page-header {
  min-width: 1200px;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 60px;
  padding-left: 4.3%;
  padding-right: 5.2%;
  background-color: #75797c;
}
