@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/montserrat400.woff2") format("woff2"), url("../../fonts/montserrat400.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/montserrat700.woff2") format("woff2"), url("../../fonts/montserrat700.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/montserrat900.woff2") format("woff2"), url("../../fonts/montserrat900.woff") format("woff");
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/muli400.woff2") format("woff2"), url("../../fonts/muli400.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/playfairdisplay400.woff2") format("woff2"), url("../../fonts/playfairdisplay400.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  color: #757575;
  font-family: "Muli", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
label.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}